/* cssbl.css */

@media print {
  body {
    margin: 0;
    padding: 0;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  .print-container {
    padding: 10mm !important;
    margin: 0 auto !important;
    width: 190mm; /* slightly smaller than A4 width (210mm) to center it */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Prevent wrapping */
  }

  th, td {
    white-space: nowrap;
    font-size: 12px;
    border: 1px solid #000;
  }

  th {
    font-weight: bold;
    text-align: center;
  }

  button, .MuiButton-root, .MuiMenu-root {
    display: none !important; /* Hide buttons and menus when printing */
  }
}
