@media print {
  /* Hide any debug information or elements that contain localhost */
  footer, .vite-footer, .react-footer, .vite-logo, .react-logo {
      display: none !important;
    }
  
    /* You can also try targeting the header if the logo appears there */
    .vite-logo, .react-logo, .header {
      display: none !important;
    }
  /* Adjust other styles for printing */
  body {
    font-size: 12px !important;
  }

  .MuiTypography-root {
    font-size: 12px !important;
  }

  .MuiButton-root {
    display: none !important;
  }

  .MuiTableCell-root {
    font-size: 12px !important;
  }

  .MuiTableRow-root {
    font-size: 12px !important;
  }
.img{
  display: block !important;

}
  /* Any other styles you want to apply for print */
}